---
import "../assets/reset.css";
import "../assets/default.css";

import { ClientRouter } from "astro:transitions";
---

<html lang="en" transition:animate="none">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olaf Yang</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }
</style>
