html,
body,
#__nuxt,
#app {
  height: 100%;
  width: 100%;
}

.sub-nav {
  display: flex;
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1360px) {
  #app {
    display: flex;
  }
  h1 {
    font-size: 2.5em;
    font-family: "Silka", sans-serif;
    font-weight: bold;
  }
  .view-container {
    margin-top: 1em;
    margin-left: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sub-nav {
    display: flex;
    align-items: center;
    color: #08204a;
    margin-bottom: 1em;
  }
  .item-viewer {
    width: 90%;
  }
}

@media only screen and (max-width: 1360px) {
  h1 {
    font-size: 2em;
    font-family: "Silka", sans-serif;
    font-weight: bold;
  }
  .sub-nav {
    margin-bottom: 1em;
    text-align: center;
  }

  .item-viewer p {
    text-align: center;
  }
}
h2 {
  font-size: 1.5em;
  font-family: "Silka", sans-serif;
  font-weight: bold;
}
h3 {
  font-size: 1em;
  font-family: "Silka", sans-serif;
}
li {
  font-family: "Silka", sans-serif;
  font-weight: 200;
}
p {
  font-family: "Silka", sans-serif;
}

.item-viewer {
  margin: 1em;
}
.item-viewer h1 {
  color: #08204a;
}
.item-viewer p {
  margin: 1em 0;
  color: #08204a;
  font-size: 1.3em;
}

.fullpage-view {
  height: 100%;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.fullpage-color-main {
  min-height: 100%;
  width: 100%;
  background-color: #08204a;
}
.branding-simple {
  padding: 2em 0 1em 2em;
  display: flex;
}
.branding-simple h1,
.branding h3,
.branding hr {
  color: white;
}
.branding-simple hr {
  border-radius: 3px;
  border: 2px white solid;
}

.mode-indicator {
  position: absolute;
  background-color: white;
  color: red;
  font-family: "Silka", sans-serif;
  padding: 0.2em 1em;
  text-align: center;
  z-index: 1000;
}
